<div class="breadcrumb-and-search">
    <ol class="pathline col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Location</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>
    <hr>
    <div class="product-info">

        <div class="menu-gallery row">
            {{#each campers}}
            <div class="menu-inner-element col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <a href="#/camper/{{this._id}}" class="col-md-6">
                            <img src="{{this.imageUrl}}" class="item-image" alt="{{model}}">
                            <span class="price-tag">
              <span>
                <cufontext>{{pricesixlow}} lv</cufontext>
              </span>
                            </span>
                        </a>
                        <div class="menu-aside">
                            <h5>{{this.model}}</h5>
                            <p>
                                <span class="capacity">For: {{this.capacity}} people</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
