<div class="container" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="header-description">
                    <h3 id="header-slogan">
                        VIP experience
                    </h3>
                    <p id="header-slogan-text">
                        Discover why you should embrace the RV lifestyle
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-and-search">
    <ol class="pathline col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Campers</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>
<div class="container gallery-view">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 category-elemets">
            <h3 class="category-title">
                Integrated
            </h3>
            <div class="category-inner-element">
                {{#each campers.integrated}}
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#/camper/{{this._id}}">
                                <img src="{{this.imageUrl}}" class="item-image" alt="{{model}}">
                                <span class="price-tag">
                                        <span>
                                            <cufontext>{{pricesixlow}} lv</cufontext>
                                        </span>
                                </span>
                            </a>
                        </div>
                        <div class="menu-aside">
                            <h5>{{this.model}}</h5>
                            <p>
                                <span class="capacity">For: {{this.capacity}} people</span>
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 category-elemets">
            <h3 class="category-title">
                Alcove
            </h3>
            <div class="category-inner-element">
                {{#each campers.alcove}}
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#/camper/{{this._id}}">
                                <img src="{{this.imageUrl}}" class="item-image" alt="{{model}}">
                                <span class="price-tag">
                                        <span>
                                            <cufontext>{{pricesixlow}} lv</cufontext>
                                        </span>
                                </span>
                            </a>
                        </div>
                        <div class="menu-aside">
                            <h5>{{this.model}}</h5>
                            <p>
                                <span class="capacity">For: {{this.capacity}} people</span>
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 category-elemets">
            <h3 class="category-title">
                Semi-integrated
            </h3>
            <div class="category-inner-element">
                {{#each campers.semi-integrated}}
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#/camper/{{this._id}}">
                                <img src="{{this.imageUrl}}" class="item-image" alt="{{model}}">
                                <span class="price-tag">
                                        <span>
                                            <cufontext>{{pricesixlow}} lv</cufontext>
                                        </span>
                                </span>
                            </a>
                        </div>
                        <div class="menu-aside">
                            <h5>{{this.model}}</h5>
                            <p>
                                <span class="capacity">For: {{this.capacity}} people</span>
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>