<div class="breadcrumb-and-search row">
  <ol class="breadcrumb col-sm-4">
    <li><a href="#/home">Home</a></li>
    <li class="active">Campers</li>
  </ol>
  <div class="col-sm-8 search">
   <div class="input-group">
     <input type="text" class="form-control" placeholder="Search this website...">
     <span class="input-group-btn">
       <button class="btn btn-default" type="button">Search</button>
     </span>
   </div>
 </div>
</div>
<hr>

<div class="gallery row">
  {{#camper}}
    <div class="gallery-inner-element col-md-4">
      <div class="thumbnail">
        <div class="row">
         {{!-- <a href="#/camper-list/{{id}}" class="col-md-6">--}}
            <img src="{{imageUrl}}" class="item-image" alt="{{model}}">
            <span class="price-tag">
              <span>
                <cufontext>{{pricesixlow}} lv</cufontext>
              </span>
            </span>
          </a>
          <div class="game-info-aside">
            <h5>{{model}}</h5>
            <p>
              <span class="platform">For: {{capacity}} people</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/camper}}
</div