<div class="container promo-gallery">
    <section class="col-md-4 inner-elemets">
        <p class="inner-elemets-title">
            Site’s Recommendations
        </p>
     
        <div class="gallery-inner-element">
            <div class="thumbnail">
                <div class="row">
                    <a href="#/camper/{{this._id}}" class="col-md-6">
                        <img src="{{this.imageUrl}}" class="item-image" alt="{{model}}">
                    </a>
                    <div class="menu-aside">
                        <h5>{{this.model}}</h5>
                        <p>
                            <span class="capacity">For: {{this.capacity}} people</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <section class="col-md-4 inner-elemets">
        <p class="inner-elemets-title">
            Location / Open hours
        </p>
        <div class="clearfix">
            <iframe class="img-thumbnail gmap-home" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtyOSyDWBqkARKwEvURqoFFY&key=AIzaSyBhZ6ck8uOdRH7LDlCN43zTSYC8AB8jhsw"
                allowfullscreen></iframe>
        </div>
        <div class="location-text">
            <p>
                4 Olimpiiska Str., Sofia
            </p>
            <p>
                <span>Mon-Fri</span>
                <time>10:00-18:00</time>
                <span>Sat-Sun</span>
                <time>10:00-18:00</time>
            </p>
        </div>
    </section>
    <section class="col-md-4 inner-elemets">
        <div class="comments-section">
            <p class="inner-elemets-title">
                Some words of wisdom
            </p>
            <div class="thumbnail">
                <div class="row books">
                    <img src="img/comments-user2.jpg" class="item-image" alt="comments">
                    <div class="game-info-aside">
                        <h5>Bookworm</h5>
                        <p class="platform">
                            Oh no this cat cannot talk!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>